
.customShadow{
    box-shadow: 0 0 10px #00000080;
}
.darkShadow{
    box-shadow: 2px 2px 10px 2px #a80808;
}
.lightShadow{
    box-shadow: 2px 2px 10px 2px #0eda8b;
}
.angelShadow{
    box-shadow: 2px 2px 10px 2px #1ae6d5;
}

